@use "../../global.scss";
.root {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  header {
    padding: global.$medium-margin global.$desktop-margin;
    background-color: #bc2323;
    h1 {
      @include global.h1;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: global.$large-margin global.$desktop-margin;
  }
  footer {
    color: #606060;
    font-weight: 600;
    text-align: center;
    padding: global.$medium-margin global.$desktop-margin;
  }
}
